.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: border,box-shadow .3s;
}

$border-green: 1px solid green;

.input {
  &:active,
  &:focus {
    outline: none;
  }
}

// .input:active,
// .input:focus {

// }

.input.green {
  border: $border-green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}